<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Fantasy Soccer Overview</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="data">API</a>
                    <a class="dropdown-item" href="visualizations">Visualizations</a>
                    <!-- <a class="dropdown-item" href="https://public.tableau.com/profile/megan7186#!/vizhome/PremierLeagueFootball/TopScorers?publish=yeshtml/second_page.html">Tableau Visualizations</a> -->
                    <a class="dropdown-item" href="machinelearning">Machine Learning Model</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://fantasy.premierleague.com/">Official Fantasy Site</a>
                </div>
            </li>
    </nav>

    <!-- Content-->

    <div class="container">
        <div class="row">
            <div class = "col-md-12">
                <h1 class="text-center">Premier League Fantasy Soccer</h1>
                <h3 class ="text-center">Luis Bejaran, Megan Cogguillo, Julissa Guzman, and Max Izotov </h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Our Project</h2>
                <p>Our project utilizes Premier League Fantasy soccer data to help participants select their ultimate Fantasy team. We leverage both historical player data ('17 - '20) from the league as well as points data from the current Fantasy season. Our project uses Tableau to produce interactive dashboards that help the user assess how to spend their limited budget as well as easily access key player metrics from past seasons. We also built a machine learning model that use points and performance data from the current Fantasy season to analyze trends and catch anomalies</p>
                <hr>
                <h2>Fantasy Soccer 101</h2>
                <p>Each week, participants select a team composed of 10 players (constrained by a budget of $100m) and receive points based on the players’ actual performance that week. Points are given based on goals scored, goals assisted, play time, penalty saves, and other metrics; points are also deducted based on player misconduct (red and yellow cards), penalty misses, own goals, and goal concessions. The full scoring rules are available here.</p>
                <hr>
                <h2>Scoring Rules</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>For playing up to 60 minutes</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>For playing 60 minutes or more (excluding stoppage time)</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>For each goal scored by a goalkeeper or defender</td>
                            <td>6</td>                       
                        </tr>
                        <tr>
                            <td>For each goal scored by a midfielder</td>
                            <td>5</td>                       
                        </tr>
                        <tr>
                            <td>For each goal scored by a forwards</td>
                            <td>4</td>                       
                        </tr>
                        <tr>
                            <td>For each goal assist</td>
                            <td>3</td>                       
                        </tr>
                        <tr>
                            <td>For a clean sheet by a goalkeeper or defender</td>
                            <td>4</td>                       
                        </tr>
                        <tr>
                            <td>For a clean sheet by a midfielder</td>
                            <td>1</td>                       
                        </tr>
                        <tr>
                            <td>For every 3 shot saves by a goalkeeper</td>
                            <td>1</td>                       
                        </tr>
                        <tr>
                            <td>For each penalty save</td>
                            <td>5</td>                       
                        </tr>
                        <tr>
                            <td>For each penalty miss</td>
                            <td>-2</td>                       
                        </tr>
                        <tr>
                            <td>Bonus points for the best players in a match</th>
                            <td>1-3</td>                       
                        </tr>
                        <tr>
                            <td>For every 2 goals conceded by a goalkeeper or defender</th>
                            <td>-1</td>                       
                        </tr>
                        <tr>
                            <td>For each yellow card</th>
                            <td>-1</td>                       
                        </tr>
                        <tr>
                            <td>For red yellow card</th>
                            <td>-3</td>                       
                        </tr>
                        <tr>
                            <td>For each own goal</th>
                            <td>-2</td>                       
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <img src="images/gameweekpts.jpg" class="img-fluid" alt="Fantasy Team">
            </div>

        </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="javascript/app.js"></script>
</body>

</html>