<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Fantasy Soccer Overview</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="data">API</a>
                    <a class="dropdown-item" href="https://public.tableau.com/profile/megan7186#!/vizhome/PremierLeagueFootball/TopScorers?publish=yeshtml/second_page.html">Visualizations: Historical Performance</a>
                    <a class="dropdown-item" href="machinelearning">Machine Learning Model</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://fantasy.premierleague.com/">Official Fantasy Site</a>
                </div>
            </li>
    </nav>

    <!-- Content-->

    <div class="container">

        <div class="row">
            <div class = "col-md-12">
                <h1 class="text-center">Machine Learning Models</h1>
                <h3 class ="text-center">Leveraging machine learning to predict top point earners</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Model 1: Using Neural Networks to Learn</h2>
                <br>
                <br>
                <p>We used tensorflow and sklearn to transform, test, and split our existing data from previous seasons to train our model. We then executed the model on an updated data set with this season’s statistics. We put more emphasis on this season’s statistics return a more accurate forecast for points generation in the near future.</p>
                <br>
                <h3>Predicted Top 5 Point Earners:</h3>
                <ol>
                    <li><a href="https://www.premierleague.com/players/23702/Callum-Hudson-Odoi/stats">Callum Hudson-Odoi</a></li>
                    <li><a href="https://www.premierleague.com/players/4245/Emiliano-Mart%C3%ADnez/stats">Emiliano Martinez</a></li>
                    <li><a href="https://www.premierleague.com/players/16790/Davy-Pr%C3%B6pper/stats">Davy Propper</a></li>
                    <li><a href="https://www.premierleague.com/players/4851/Matej-Vydra/stats">Matej Vydra</a></li>
                    <li><a href="https://www.premierleague.com/players/4496/C%C3%A9sar-Azpilicueta/stats">Cesar Azpilicueta</a></li>
                    <li><a href="https://www.premierleague.com/players/5865/Youri-Tielemans/stats">Youri Tielemans<a></li>
                    <li><a href="https://www.premierleague.com/players/23396/Bruno-Fernandes/stats">Bruno Miguel Borges Fernandes</a></li>
                    <li><a href="https://www.premierleague.com/players/32923/Yerry-Mina/stats">Yerry Mina</a></li>
                    <li><a href="https://www.premierleague.com/players/13961/Harry-Wilson/stats">Harry Wilson</a></li>
                    <li><a href="https://www.premierleague.com/players/3562/Ciaran-Clark/stats">Ciaran Clark</a></li>
                </ol>
            </div>
            <div class="col-md-6">
                <h2>Model 2: Elastic Net Regression to Predict Variables</h2>
                <p>Using an Elastic Net Regression model and a simplified data set with the most effective points-generating events, users are able to input expected variables themselves to predict variables such as points. A Mean Absolute Error of .090 suggest that our model will likely be more accurate than a biased decision based on fandom. </p>
            </div>
        </div>



    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="javascript/app.js"></script>
</body>

</html>