<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Fantasy Soccer Overview</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="data">API</a>
                    <a class="dropdown-item" href="https://public.tableau.com/profile/megan7186#!/vizhome/PremierLeagueFootball/TopScorers?publish=yeshtml/second_page.html">Visualizations: Historical Performance</a>
                    <a class="dropdown-item" href="machinelearning">Machine Learning Model</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://fantasy.premierleague.com/">Official Fantasy Site</a>
                </div>
            </li>
    </nav>

    <!-- Content-->

    <div class="container">

        <div class="row">
            <div class = "col-md-12">
                <h1 class="text-center">Machine Learning Models</h1>
                <h3 class ="text-center">Leveraging machine learning to predict top point earners</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Model 1 Name</h2>
                <p>Model 1 Description</p>
                <br>
                <h3>Predicted Top 5 Point Earners:</h3>
                <ul>
                    <ol>Callum Hudson-Odoi</ol>
                    <ol>Emiliano Martinez</ol>
                    <ol>Davy Propper</ol>
                    <ol>Matej Vydra</ol>
                    <ol>Cesar Azpiolcueta</ol>
                    <ol>Youri Tielemans</ol>
                    <ol>Bruno Miguel Borges Fernandes</ol>
                    <ol>Yerry Mina</ol>
                    <ol>Harry Wilson</ol>
                    <ol>Ciaran Clark</ol>
                    
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Model 2 Name</h2>
                <p>Model 2 Description</p>
            </div>
        </div>



    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="javascript/app.js"></script>
</body>

</html>